:root {
  --text-color: #fff;
  --hover-text: #eb5a1e;
  --button-color: #03e9f4;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  background: linear-gradient(#141e30, #243b55);
  height: 115vh;
}
.container_rental h2 {
  padding: 40px 0 0 0;
  color: var(--text-color);
  text-align: center;
  margin-top: 0;
}
.form-check-input {
  appearance: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #fff;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 5px;
}
.form-check {
  margin-right: 15px;
}
.form-container {
  display: flex;
  justify-content: center;
  margin-left: 30px;
}
.form-check-input:checked {
  background-color: #eb5a1e;
  border-color: #eb5a1e;
}

.rental-choice {
  color: #fff;
  margin-top: 40px;
  margin-bottom: 35px;
}
/* .form-check-label {
  
} */
.label {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 25px;
}
.items,
.counter-wrapper {
  font-family: "Merriweather", serif;
  background: #f2ede7;
  border-radius: 8px;
  width: 120px;
  display: flex;
  font-size: 18px;
  overflow: hidden;
  text-align: center;
}
.info-position__street.active .icons {
  background: var(--text-color);
}
.container-info__client.active {
  display: block;
}
.info-position__room.active .icons {
  background: var(--text-color);
}
.cash-payments.active .icons {
  background: var(--text-color);
}
.no-cash_payments.active .icons {
  background: var(--text-color);
}
.client-deposit.active .icons {
  background: var(--text-color);
}
.client-deposit_cash.active .icons {
  background: var(--text-color);
}
h3 {
  text-align: center;
  color: #fff;
}
.items__control,
.items__controll {
  width: 40px;
  cursor: pointer;
  transition: 0.2s ease-in;
  line-height: 1.5;
  height: 30px;
}

.items__current {
  width: 40px;
  line-height: 1.5;
  height: 30px;
}
.items__control:hover,
.items__controll:hover {
  background: var(--hover-text);
  color: var(--text-color);
}
.details-wrapper_quantity,
.details-wrapper_time {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-info__client {
  display: none;
  margin-top: 50px;
}

.form-control.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-control {
  position: relative;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  width: 40%;
  border-radius: 0.375rem;
  margin-top: 4px;
}
.mb-4 label,
.label {
  color: #fff;
}
.label {
  margin-bottom: 35px;
  margin-top: 40px;
}
.width {
  margin-left: 37%;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}
.form-control.is-invalid:focus {
  border-color: #ff0018;
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #03e9f4;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(3 233 244 / 25%);
}
.user-box {
  width: 100%;
}
.create-button__arrange {
  margin-bottom: 109px;
  width: 14%;
  background: #eb5a1e;
  border: 1px solid #eb5a1e;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 25px;
}

.create-button__arrange:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.create_button {
  display: flex;
  justify-content: center;
}

.user-box input::-webkit-outer-spin-button,
.user-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
